body {
  --transition-time: .8s;
}

.slider {
  overflow: hidden;
  max-width: 1320px;
  margin: 40px auto 0;
}

.track {
  display: flex;
  transition: all var(--transition-time);
  will-change: transform;
}

.item {
  cursor: pointer;
  font-size: 78px;
  font-weight: bold;
  transition: all var(--transition-time);
  will-change: transform;
  user-select: none;
}

.item:hover {
  opacity: 1 !important;
}

.controls {
  display: flex;
  margin-top: 40px;
  border: 1px solid;
}

.btn {
  width: 50%;
  text-align: center;
  font-size: 78px;
  cursor: pointer;
  transition: background var(--transition-time), color var(--transition-time);
  user-select: none;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.btn:active {
  transform: scale(.98);
}

.btn + .btn {
  border-left: inherit;
}
